/* Navigation Section */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    padding: 0px 7px;
    padding: 8px;
    font-size: 1rem;
}


/* Home Section */

#home {
    height: 370px;
    padding: 2px 6px;
}

#home::before {
    height: 470px;
}

#home p {
    font-size: 12px;
}


/* Our Services */

#services {
    flex-direction: column;
}

#services .box {}


/* Clients Section */

#clients {
    flex-wrap: wrap;
}

#clients img {
    /* width: 66px;*/
    height: 55px;
    padding: 0px;
    margin: -8px;
}


/* Contact Us Section */

#contact-box form {
    width: 80%;
}


/* Footer Section */


/* utility class */

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 26px;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    padding: 12px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}